@model TJJ.Data_Base.DataViewModels.SellRequestViewModel

@{
    ViewBag.Title = "فروش آنلاین طلای خام";
    Layout = "~/Views/Shared/_dashboard_layaout.cshtml";
}

<br /><br />


<p class="center_txt" style="font-size:150%;font-weight:700;">
    قیمت فعلی طلای خام: گرمی @Data_Layer.TJJ_Config_Data.GetGoldPriceClear() ريال
</p>
<br />

@if (Data_Layer.TJJ_Config_Data.IsTradeOpen)
{
    <h3 style="line-height:190%;text-align:center;border-color:black;">
        وضعیت خرید و فروش طلا هم اکنون باز است و شما میتوانید به راحتی درخواست افزایش شارژ طلای خام حساب کاربری خود(خرید طلای خام) و یا افزایش شارژ ريالی حساب کاربری (فروش طلای خام به قیمت روز)، را ثبت نمایید.
    </h3>
    <h3 style="line-height:190%;text-align:center;border-color:black;">
        جهت ثبت درخواست فروش طلای خام به‌صورت آنلاین و افزایش سطح شارژ ريالی حساب کاربری، میزان گرم طلای خام که قصد فروش آن را دارید، وارد نمایید.
    </h3>
    <br />
    <p style="line-height:190%;text-align:center;border-color:black;font-size:130%;">
        *همینطور جهت اطلاع از قیمت دقیق میزان طلای خام مورد درخواست، میتوانید مقدار گرم طلای خام را در باکس زیر وارد نمایید تا مبلغ ريالی آن نمایش داده شود.
    </p>

    using (Html.BeginForm("SellGoldCharge", "Dashboard", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <br />

        <div class="wrap-input100 m-b-23">
            @Html.LabelFor(m => m.sell_gold_value, new { @class = "label-input100" })
            <br />
            <input id="sell_gold_value" name="sell_gold_value" class="input101" />
            <br /><br />
            <label class="label-input100" id="Gold_Price_Label"></label>
        </div>
        <br /><br />

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <input type="submit" value="ثبت درخواست" class="btn btn-success btn--icon-text" />
            </div>
        </div>
        <br />


    }

}
else
{
    IdentitySample.Models.ApplicationDbContext dbcont = new IdentitySample.Models.ApplicationDbContext();
    var UInfo = TJJ.GetUserInfo.GetLogedInUserInfo(User.Identity.Name, dbcont);
    string UName = UInfo.fname + " " + UInfo.lname;
    dbcont.Dispose();

    <h3 style="line-height:190%;text-align:center;border-color:black;font-size:140%;">
        @UName عزیز؛ در حال حاضر وضعیت خرید و فروش بسته می باشد و امکان ثبت درخواست فروش و یا فروش طلای خام نمی باشد، لطفا در زمان دیگری جهت افزایش شارژ طلای خام و یا فروش آن، مراجعه فرمایید.

    </h3>
    <h3 style="line-height:190%;text-align:center;border-color:black;font-size:140%;">
        همچینین جهت اطلاع از ساعت باز بودن وضعیت خرید و فروش طلای خام، میتوانید از بخش تماس با ما با پشتیبان سایت ارتباط برقرار نمایید.
    </h3>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sell_gold_value").keyup(function () {
                //alert('Hello');
                var goldval = document.getElementById("sell_gold_value").value;

                if (goldval == "") {
                    $('#Gold_Price_Label').html("");
                } else if ($.isNumeric(goldval)) {

                    $.post("/Dashboard/Get_Gold_Price_Value/", { GoldValue: goldval }, function (prc) {
                        //alert(prc);
                        $('#Gold_Price_Label').html("مبلغ واریز: " + prc + " ريال");

                    });
                }

            });
        });


    </script>
}

@section sell_active
{
    navigation__active
}