
@{
    ViewBag.Title = "قوانین و مقررات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section intro_div_class
{
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="wall_intro">
                    <h1></h1>
                    <h1 style="text-align: right;"><span style="font-size: 95%; color: #f09c00;"><strong>قوانین و مقررات استفاده از سامانه معاملات آنلاین کشوری طلای خام:</strong></span></h1>
                </div>
            </div>
        </div>
    </section>
}

