@using Microsoft.AspNet.Identity
@{
    IdentitySample.Models.ApplicationDbContext DB = new IdentitySample.Models.ApplicationDbContext();
    TJJ.IUsersRepository UsersRepository;
    UsersRepository = new TJJ.Services.Users_Repository(DB);
}

@{
    const string keep_link_text = "&%!@=+&%%$#";
    string domain_address = Request.Url.AbsoluteUri.Replace("://", keep_link_text).Replace(Request.Url.PathAndQuery, "").Replace(keep_link_text, "://");
}

@{
    if (User.Identity.IsAuthenticated && Session["u_name"] == null)
    {
        var u_date = UsersRepository.Get_User_BY_UserName(User.Identity.Name);
        UsersRepository.Disposi_db();
        Session["u_name"] = u_date.fname + " " + u_date.lname;
    }
}



@if (Request.IsAuthenticated)
{
    @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>


                    @Html.ActionLink("خوش آمدید " + Session["u_name"] + " عزیز", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">خروج از حساب</a></li>
            </ul>
        }*@

    @*@Html.ActionLink("حساب کاربری", "Index", "Account", new {@class="btn_register ml-2" })*@

    <li>
        @Html.ActionLink("خوش آمدید "+Session["u_name"]+" عزیز","Index","Account");
    </li>


}
else
{

    <a data-turbolinks="false" href="https://wallex.ir/app/auth/register" title="ثبت نام" class="btn_register ml-2">
        <span>
            ثبت نام
        </span>
    </a>

    <a data-turbolinks="false" href="https://wallex.ir/app/auth/login" title="ورود">
        <span>
            ورود
        </span>
    </a>

}
