@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "حذف کاربر";
    Layout = "~/Views/Shared/_dashboard_layaout.cshtml";
}

@*<h2>Delete.</h2>*@


<div>
    <h4>حذف کاربر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف کاربر" class="btn btn-outline-danger" /> |
            @Html.ActionLink("بازگشت به لیست کاربران", "Index")
        </div>
    }
</div>
