@{
    ViewBag.Title = "بازیابی اطلاعات ورود";
    List<string> err = ViewBag.errors;
    string[] info_user = ViewBag.user_info;
    Layout = "~/Views/Shared/_account_layout.cshtml";
}

<span class="login100-form-title p-b-49">
    اطلاعات یافت شده
</span>

@foreach (var item in info_user)
{
    <p class="text-lg-center">
        @item
    </p>
}

<br />
@foreach (var item in err)
{
    <p class="text-center text-danger">
        @item
    </p>
}

<br />


<p class="text-black text-center">
    جهت بازنشانی رمز عبور، لینکی به شماره موبایل و ایمیل شما ارسال گردید، لطفا ایمل و پیامک های گوشی خود را بررسی نمایید؛ در صورتی که قبلا شماره تلفن و ایمیل خود را تأیید نکرده باشید، لینک به آن ها ارسال نخواهد شد.
</p>
<p class="text-danger text-center font-weight-bold">
    توجه: لطفا صندوق ورودی ایمیل خود و همینطور پوشه اسپم آن را بررسی فرمایید، زیرا ممکن است ایمیل ما اشتباها به پوشه اسپم رفته باشد.
</p>
<p class="text-capitalize text-center">
    لطفا پس از مشاهده و دسترسی به لینک بازنشانی پسورد، آن را توسط مروگرتان باز کنید تا ادامه مراحل انجام شود.
</p>
<br /><br />
<p class="text-lg-center text-center">
    همچنین در صورتی که از روش فوق موفق به بازیابی اطلاعات خود نشده اید، میتوانید با کلیک بر روی لینک تماس با ما، با مدیریت و پشتیبانی سایت ارتباط برقرار کنید.
</p>
<br />
<p class="text-lg-center">
    @Html.ActionLink("تماس باما", "Contact", "Home")
</p>